@keyframes movegradient {
        0% { background-position:0% center;}
        100% { background-position: 100% center;}
    }
@keyframes slideright {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideleft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
    background: linear-gradient(to right,
    rgb(195, 255, 195),
    rgb(23, 255, 255), 
    rgb(195, 255, 195), 
    rgb(23, 255, 255));

    background-size: 400% auto;
    animation: movegradient 9s linear infinite alternate;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', sans-serif;
}
html, body {
    overflow-x: hidden;
}




.leftbar, .leftbar2{
    left: 0;;
    height: 800px;
    width: 10vw;
    position: relative;
    font-size: larger;
    color: rgb(143, 112, 255);
    background-color: transparent;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    animation: slideleft 1s ease-out forwards;
    transition: left 0.8s ease;
    margin: 0;
}
.leftbar::after {
    content: "";
    position: absolute;
    right: -0px;
    top: 45%;
    transform: translateY(-148%);
    width: 18px;
    height: 60px;
    border-top: 5px solid rgb(143, 112, 255);
    border-right: 5px solid rgb(143, 112, 255);
    border-bottom: 5px solid rgb(143, 112, 255);
    border-left: 5px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.leftbar.hidden{
    left:-190px;
}
.leftbar:hover{
    left:0;
}

a{
    text-decoration: none;
    color: inherit;
    z-index: 999;
}
a:hover{
    color: #3d007a;
    font-weight: bold;
    text-decoration: underline;
}






#top{
    display: flex;
    justify-content: center;
    color: rgb(255, 140, 120);
    height: 80px;
    width: 900px; 
    z-index: 2;
}
#main {
    position: relative;
    display: flex;
    height: 740px;
    width: 100vw;
    align-items: left;
    color: rgb(143, 112, 255);
}



#contentpart{
    height: 800px;
    width: 85vw;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: -2;
}




#contactblock{
    height: 400px;
    width: 18vw;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 2;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideright 1s ease-out forwards;
}
.contactinfo{
    font-size: medium;
    margin: 10px;
}
.infotitle{
    font-size: large;
}




.dividingblock{
    width: 100vw;
    height: 70px;
    background: linear-gradient(to right,rgb(255,195,255),rgb(255,179,128),rgb(255,195,255));
    background-size: 400% auto;
    animation: movegradient 6s linear infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #330066;
}



#goalcontent{
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.gaolsection{
    height: 700px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option{
    width: 300px;
    height: 180px;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    border: 4px dotted rgb(204, 0, 204);
    align-items: center;
    background-color: rgb(209, 191, 0);
    color: #ff47e3;
    margin: 50px;
    transition: box-shadow 0.5s ease;
}
.option:hover{
    box-shadow: 0px 0px 10px 3px rgb(255, 140, 120) , 0px 0px 10px 12px rgb(255,195,255);
}
.goalhoverpart{
    width: 400px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0,70%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 1s ease;
}
.option:hover .goalhoverpart{
    opacity: 1;
    visibility: visible;
}
#contentdiv{
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 50px;
    width: 780px;
    height: 300px;
    background-color: rgb(255,179,128);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 2000px;
    z-index: 2;
    transition: all 0.8s ease;
}
#contentdiv p{
    color: #3d007a;
    font-size: 20px;
    line-height: 1;
}
.gaolsection:hover ~ #contentdiv{
    opacity: 0;
    visibility: hidden;
}
.goalinfo{
    height: 330px;
    width: 545px;
    background-color: rgb(220, 195, 255);
    box-shadow: 0px 0px 10px 3px rgb(255, 140, 120) , 0px 0px 10px 12px rgb(255,195,255);
    transition: height 0.5s ease;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.coursenamediv{
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 135px;
    padding-left: 15px;
    font-size: 15px;
    color: rgb(90, 0, 120);
}






#aboutmecontent{
    width: 70vw;
    height: 640px;
    display: flex;
    flex-direction: column;
}
.CVt{
    padding-left: 60px; 
    font-size: 18px;
    font-weight: bold;    
}
.CVp{
    font-size: 18px;
    color: #300060;
}
















#cursordiv{
    width: 100vw;
    height: 35px;
    top: -50px;
    position: absolute;
}
.cursorfollower {
    filter: invert(100%);
    mix-blend-mode: multiply;
    position: fixed;
    pointer-events: none;
}
#cursorfollower0 {
    width: 54px;
    height: 54px;
    transition: transform 0.25s linear;
    z-index: 3;
}
#cursorfollower1 {
    width: 51px;
    height: 51px;
    transition: transform 0.5s linear;
    z-index: 3;
}
#cursorfollower2 {
    width: 48px;
    height: 48px;
    transition: transform 0.75s linear;
    z-index: 3;
}
#cursorfollower3 {
    width: 45px;
    height: 45px;
    transition: transform 1s linear;
    z-index: 3;
}
#cursorfollower4 {
    width: 42px;
    height: 42px;
    transition: transform 1.25s linear;
    z-index: 3;
}
#cursorfollower5 {
    width: 39px;
    height: 39px;
    transition: transform 1.5s linear;
    z-index: 3;
}
#cursorfollower6 {
    width: 36px;
    height: 36px;
    transition: transform 1.75s linear;
    z-index: 3;
}
#cursorfollower7 {
    width: 33px;
    height: 33px;
    transition: transform 2s linear;
    z-index: 3;
}